* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}


.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

/* box one */
.nav-logo {
    height: 50px;
    width: 100px;
}
.logo 
{
    background-size: cover;
    background-image: url("amazon_logo.png");
    height: 50px;
    width: 100%;
}
.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}


/* box two */
.add-first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 20px;

}
.add-sec {
    font-size: 1rem;
    margin-top: 6px;
    margin-left: 3px;
}
.add-icon {
    display: flex;
    align-items: center;
}

/* box three */
.nav-search {
   display: flex;
   margin-left: 13px;
   background-color: rgb(255, 200, 98);
   border-radius: 5px;
   height: 40px;
   width: 620px;
}
.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}
.search-input {
    width: 520px;
    border: none;
    font-size: 18px;
}
.search-select:hover {
    background-color: #c4c4c4;
}
.search-icon {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #0f1111;
}
.search-icon:hover {
    background-color:orange;
    border-radius: 5px;
}


.nav-search:hover {
    border: 2px solid orange;
}

/* box four */

span{
    font-size: 12px;
}
.nav-second {
    font-size: 14px;
    font-weight: 700;
}

/* box six */

.nav-cart i {
    font-size: 30px;
}
.nav-cart {
    font-size: 14px;
    font-weight: 700;
}


/* panel */
.panel {
    background-color: #232f3e;
    height: 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.panel-opt p {
    display: inline;
    margin-right: 20px;
}

.panel-opt {
    width: 95%;
     font-size: 14px;
}
.panel-all {
    font-weight: 700;
    width: 5%;
}

/* hero section */

.hero-section {
    background-image: url(hero_image.jpg);
    height: 350px;
    background-size: cover;
     display: flex;
   justify-content: center;
   justify-items: center;
   align-items: flex-end;
}
.hero-msg {
    background-color: white;
    color: #0f1111;
    height: 40px;
   display: flex;
   justify-content: center;
   justify-items: center;
    font-size: 14px;
    width: 80%;
    text-align: center;
    align-items: center;
    margin-bottom: 25px;
}

.hero-msg a {
    color: #007185;
}

/* shop section */
.shop-section {
    background-color: #e2e7e6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.box {
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-img {
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-size: cover;
}

.box-content {
    margin-left: 16px;
    margin-right: 16px;
}

.box-content p {
    color: #007185;
}

footer {
    margin-top: 15px;
}

.footer-panel1 {
    height: 50px;
    background-color: #37475a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.footer-panel2 {
    background-color: #222f3d;
    color: white;
    height: 380px;
    display: flex;
    justify-content: space-evenly;
}

ul a {
    display: block;
    font-size: 14px;
    margin-top: 10px;
    color: #dddddd;
}
ul p {
    font-weight: 700;
    margin-top: 50px;
}

.footer-panel3 {
    background-color: #222f3d;
    height: 100px;
    border-top:0.5px solid rgb(117, 117, 117);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.bottom-logo {
    background-image: url("amazon_logo.png");
    height: 50px;
    width: 100px;
    background-size: cover;

}

.button 
{
    margin-right: 300px;
    color: white;
}

.footer-panel4 {
    height: 400px;
    background-color: rgb(19, 19, 24);
    display: flex;
    flex-wrap: wrap;
    color: white;
}
ul {
    width: 20%;
    margin-left: 25px;
}
.text {
    color: white;
    font-size: 12px;
    font-weight: 100;
}
ul a {
    font-size: 10px;
}
.footer-panel4 p {
    margin-left: 100px;
}
.footer-panel4 a {
    margin-left: 100px;
}
.panal-last {
    background-color: black;
    height: 40px;
    color: white;
    text-align: center;
    padding: 30px;

}